<div class="container" class="center">

  <div class="row custom-wrapper">
    <div class="col-md-12">
      <h1>----------------  Planks  -----------------</h1>
      <br>
      <!-- Form starts -->
      <!--      <h4>Select Timber</h4>-->
      <label >Select Timber</label>
      <div class="form-group">
        <div class="d-block my-3">
          <div class="mb-3">
            <select [(ngModel)]="timberType">
              <option value="">Choose Timber</option>
              <option *ngFor="let timber of timberArray" [ngValue]="timber.id">{{timber.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <!--      <h4>Select Cross Section (mm * mm)</h4>-->
      <label >Select Cross Section (mm * mm)</label>
      <div class="form-group">
        <div class="d-block my-3">
          <div class="mb-3">
            <select [(ngModel)]="timberCrossSection">
              <option value="">Choose Cross Section </option>
              <option *ngFor="let crossSection of timberCrossSectionArray" [ngValue]="crossSection.id">{{crossSection.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <label>Select Length (m)</label>

      <div class="group-gap">
        <div class="d-block my-3">
          <div class="mb-3">
            <select [(ngModel)]="timberLength">
              <option [ngValue]="1">Below 5.6 m </option>
              <option [ngValue]="2">5.6 m and Above 5.6 m </option>
            </select>
          </div>
        </div>
      </div>

      <label>Enter Quantity</label>
      <div class="group-gap">
        <div class="d-block my-3">
          <div class="mb-3">
            <input type="text" placeholder="Quantity"
                   [(ngModel)]="quantity" required>
          </div>
        </div>
      </div>

      <h4> </h4>

      <div class="group-gap">
        <div class="d-block my-3">
          <div class="mb-3">
            <button class="button button2" (click)="calculatePrice()">CalculatePrice</button>
          </div>
        </div>
      </div>

      <br>
      <!--      <h4>Total Price</h4>-->
      <div class="group-gap">
        <div class="d-block my-3">
          <label class="price-label">Price</label>
          <div class="price">
            {{priceInString}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


